*{
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-plan-estudios: url(../imagenes/planDeEstudiosFondo.jpg);
    --width-bg: 1440px;
    --height-bg: 1026px;
    --width-btn-materias: 140px;
    --height-btn-materias: 60px;
    --top-btn-materias: 166px;
    --left-btn-materias: 68px;
    --space-between-semesters: 160px;
    --space-between-years: 177px;
}

/* +-+-+-+-+-+-+-+-+-+ BODY +-+-+-+-+-+-+-+-+-+ */

body{
    display: flex;
    justify-content: center;
}

/* ---------- Plan de Estudios ---------- */
#planDeEstudios{
    position: absolute;
    overflow-x: initial;
    top: 0;
    width: var(--width-bg);
    height: var(--height-bg);
    background-image: var(--bg-plan-estudios);
    background-size: contain;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

.btn-materias{
    position: absolute;
    width: var(--width-btn-materias);
    height: var(--height-btn-materias);
    font-size: 16px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid black;
    padding: 0;
}


.btn-materias:hover{
    background-color: lightgrey;
}

.semestre1{
    left: var(--left-btn-materias);
}

.semestre2{
    left: calc(var(--left-btn-materias) + var(--space-between-semesters));
}

.semestre3{
    left: calc(var(--left-btn-materias) + var(--space-between-semesters) + var(--space-between-years));
}

.semestre4{
    left: calc(var(--left-btn-materias) + var(--space-between-semesters)*2 + var(--space-between-years));
}

.semestre5{
    left: calc(var(--left-btn-materias) + var(--space-between-semesters)*2 + var(--space-between-years)*2);
}

.semestre6{
    left: calc(var(--left-btn-materias) + var(--space-between-semesters)*3 + var(--space-between-years)*2);
}

.semestre7{
    left: calc(var(--left-btn-materias) + var(--space-between-semesters)*3 + var(--space-between-years)*3);
}

.semestre8{
    left: calc(var(--left-btn-materias) + var(--space-between-semesters)*4 + var(--space-between-years)*3 - 1px);
}

.fil1{
    top: var(--top-btn-materias);
}

/* #cd1295.btn-materias{
    top: 166px;
    left: 68px;
} */

.header{
    top: 0;
    left: 0;
    width: 8%;
    height: 80px;
    position: fixed;
}

/*------------------Fondo de atras------------------*/
.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

/*------------------Ventana emergente------------------*/

.popup{
    background-image: url(../imagenes/papelFondo.jpg);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    width: 30%;
    height: 80%;
    min-width: 334px;
    min-height: 400px;
    max-width: 660px;
    max-height: 642px; 
    border-radius: 2%;
    border: black 4px solid;
    display: flex;
    justify-content: center;
    padding: 2%;
}

/*------------------Contiene a todas las etiquetas label, input, table y button------------------*/
.popup .elementos-popup{
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;
    display: flex;
    justify-content: end;
    width: 100%;
}

.popup .contenedor{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 4fr 3fr 2fr 1fr;
    grid-template-columns: 1fr;
    gap: 2%;
}

/*------------------Boton de cerrar------------------*/
.popup .cerrar-popup{
    position: fixed;
    font-size: 24px;
	line-height: 2%;
    color: #838389;
}

.cerrar-popup.active{
    transition: .3s;
}

.cerrar-popup:hover{
    color:black;
}

/*------------------Estilo de todos los label------------------*/
.forma_label{
    margin-left: 20px;
    font-size: 100%;
    position: fixed; 
}    

/*------------------Estilo de todas las casillas input------------------*/
.forma_input{
    border-radius: 5px;
    border:black 3px solid;
    font-size: 100%;
    width: 96.5%;
    height: 80%;
    text-align: left;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);  
}

.primerosInputs .forma_input,
.segundosInputs .forma_input{
    height: 60%;
    text-indent: 10%;
    padding-top: 5%;
}

/*------------------Estilo de materia------------------*/
.contenedor .materia{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.materia .nombre-materia{
    border-radius: 5px;  
    text-align: center;
    place-content: center;
    border:black 3px solid;
    font-weight: bold;
    font-size: 200%;
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0);  

}

/*------------------Estilo de la primera seccion de inputs------------------*/
.contenedor .primerosInputs{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 4%;
    align-items: center;
}

.primerosInputs div{
    height: 100%;
}

/*------------------Estilo de la tabla de requisitos------------------*/
.requisitos{
    display: block;
    overflow-y: scroll;
    height: 105px;
    width: 99%;
    border-radius: 5px;
    border:black 3px solid;
    text-align: justify;
    font-size: 125%;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);  
}

.requisitos::-webkit-scrollbar{
    width: 5px;
    background-color: #fff;
}    

.requisitos::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 5px;
}

.requisitos .tabla-requisitos{
    width: 100%;
    border: 2px grey;
    background-color: #fff;
}

.tabla-requisitos th{
    position: sticky;
    top: 0;
    width: 50%;
    text-align: center;
    background-color: #fff;
}

.tabla-requisitos td{
    width: 50%;
    text-align: center;
}

/*------------------Estilo de la segunda seccion de inputs------------------*/
.contenedor .segundosInputs{
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    gap: 4%;
    align-items: center;
}

.segundosInputs div{
    height: 100%;
}

/*------------------Estilo de los botones------------------*/
.contenedor .btn{
    position: relative;
    padding: 6px 50px;
    color: black;
    z-index: 2;
    font-size: 22px;
    height: 100%;
    width: 35%;
    text-align: center;
    border-radius: 8px;  
    display: flex;
    justify-content: center; 
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);  
}


.contenedor .btn-1{
    border: 5px solid #F06C64;
    overflow: hidden;
    float: left;  
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.btn-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(240, 108, 100, 1);
    z-index: -2;
}

.btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150%;
    border-radius: 30%;
    background-color: #fff;
    z-index: -1;
}

.btn-1:hover::before{
    animation: btn-1 1.5s linear both;
}


@keyframes btn-1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        bottom: 100px;
        transform: rotate(360deg);
        
    }
}

.contenedor .btn-2{
    border: 5px solid #17ae8b;
    overflow: hidden;
    float: right; 
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.btn-2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(23, 174, 139, 1);
    z-index: -2;
}

.btn-2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150%;
    border-radius: 30%;
    background-color: #fff;
    
    z-index: -1;
}

.btn-2:hover::before{
    animation: btn-2 1.5s linear both;
}


@keyframes btn-2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        bottom: 100px;
        transform: rotate(360deg);
    }
}

/*------------------Menu------------------*/
.icono-menu{
    position: relative;
    font-size: 40px;
    line-height: 16px;
    top: 30%;
    left: 15%;
    color: black;
    transition: .3s;
    cursor: pointer;
}
#btn-menu{
    display: none;
}

.container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}