<div id="container-menu">
    <div id="menu">
        <nav>
            <a href="/">Plan de estudios</a>
            <a href="/calculadora-promedio">Calculadora Promedio</a>
            <a href="/cubo">Cubo</a>
        </nav>
        <label for="btn-menu"><i class="fas fa-times"></i></label>
    </div>
</div>