<div id="container-menu">
    <div id="menu">
        <nav>
            <a href="/plan-de-estudios">Plan de estudios</a>
            <a href="/calculadora-promedio">Calculadora Promedio</a>
            <a href="/administrador-materias">Administrador Materias</a>
        </nav>
        <label for="btn-menu"><i class="fas fa-times"></i></label>
    </div>
</div>