<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/administrador-materias.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c15a751039.js" crossorigin="anonymous"></script>
    <!--Datatable plugin CSS file -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <!--jQuery library file -->
    <script type="text/javascript" 
        src="https://code.jquery.com/jquery-3.5.1.js">
    </script>
  
    <!--Datatable plugin JS library file -->
    <script type="module" src="../js/tabla.js"></script>
    
</head>
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <label for="btn-menu" class="icono-menu"><i class="fa-solid fa-bars"></i></label>
    <input type="checkbox" id="btn-menu">
    {{> menu }}
    <div id="particles-js"></div>
    <div class="container mt-5 position-relative">
      <div class="row">
        <div class="col">
        <button class="btn btn-success mb-2" id="nueva-materia">Nueva Materia</button>
        <div class="container-tabla">

        <table class="table table-dark " id="table">
          <thead>
            <tr>
                <th class="col-2">Id</th>
                <th class="col-4">Nombre</th>
                <th class="col-3">Tipo</th>
                <th class="col-2 text-center">Creditos</th>
                <th class="col-1 no-sort">Editar</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    </div>
  <div class="position-absolute w-100 top translate" id="modal">
  <form class="wrapper">
    <div class="one">
      <h1 class="text-center">Materia</h1>
    </div>
    <div class="two">
        <div class="form-control border-white">
            <label for="idInput">Id :</label>
            <input type="text" class="form-control custom-size" readonly id="idInput">
        </div>
        <div class="form-control border-white">
            <label for="nombreInput">Nombre :</label>
            <input type="text" class="form-control custom-size" readonly id="nombreInput">
        </div>
        <div class="form-control border-white">
            <label for="tipoSelect">Tipo :</label>
            <select class="form-select custom-size" disabled id="tipoSelect" aria-label="Default select example">
              <option selected>Opciones</option>
              <option value="1">Electiva</option>
              <option value="2">Complementaria</option>
              <option value="3">Énfasis</option>
              <option value="4">Núcleo fundamental</option>
            </select>
        </div>
        <div class="form-control border-white">
            <label for="creditosInput">Créditos :</label>
            <input type="number" class="form-control custom-size" readonly min="0" id="creditosInput">
        </div>
    </div>
    <div class="three">
        <div class="form-control border-white">
            <label for="profesorInput">Profesor :</label>
            <input type="text" class="form-control custom-size" id="profesorInput">
        </div>
        <div class="form-control border-white">
            <label for="departamentoInput">Departamento :</label>
            <input type="text" class="form-control custom-size" readonly id="departamentoInput">
        </div>
        <div class="form-control border-white">
            <label for="semestreInput">Semestre :</label>
            <input type="number" class="form-control custom-size" min="0" id="semestreInput">
        </div>
        <div class="form-control border-white">
            <label for="notaInput">Nota :</label>
           <input type="number" class="form-control custom-size" readonly min="0" max="5" step="0.01" id="notaInput">

        </div>
    </div>
    <div class="four"><button class="btn btn-primary custom-size5" id="guardar" type="button">Guardar!</button></div>
  </form>
  <button class="custom-sizeCerrar btn btn-danger close">Cerrar</button>
</div>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
 <script>
    $(document).ready(function () {});
</script>
<script src="https://kit.fontawesome.com/c15a751039.js" crossorigin="anonymous"></script>

<script type="module" src="../js/controladorAdministrador.js"></script>
<script type="module" src="../js/particulas.js"></script>
<!--particulas -->
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html> 