<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/CalculadoraPromedio.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">      
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c15a751039.js" crossorigin="anonymous"></script>
    <script type="module" src="../js/controladorTarjetas.js"></script>
</head>
<body>
    <button id="boton-tarjeta" class="btn" style="left: 300px; top:30px; position: absolute;z-index: 4;">Crear tarjeta</button>
    <button id="boton-cubo" class="btn" style="left: 400px; top:30px; position: absolute;z-index: 4;">Crear cubo</button>
    <!-- Menu -->
<label for="btn-menu" class="icono-menu"><i class="fa-solid fa-bars"></i></label>
<input type="checkbox" id="btn-menu">

{{> menu }}
<!-- tarjetas -->
<main>
    <div class="container-general">
        <section >
            <div class="container-card"></div>
            <div class="overlay" id="overlay">
                <div class="popup-father">
                    <div class="popup" id="popup">
                        <div id="cara popup-front" class="cara popup-front">
                            <div class="body-popup-front">
                                <div class="agregar">
                                    <button id="btnAgregarGrande" class="btn btnAgregar btn-animacion"><span class="btnAgregarGrandeSpan">AgregarGrande</span></button>
                                    <button id="btnAgregar" class="btn btnAgregar btn-animacion" ><span class="btnAgregarSpan">Agregar</span></button>
                                    <button id="btnEliminar" class="btn btnAgregar btn-animacion" ><span class="btnAgregarSpan">Eliminar</span></button>
                                </div>
                                <a href="#" id="btn-cerrar-popup1" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                                <div class="cuerpo-tabla">
                                    <table id="tabla-materias">
                                        <tr>
                                            <th>Nombre</th>
                                            <th>%</th>
                                            <th>Notas</th>
                                            <th>Definitiva</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="cara popup-right">
                            <div class="body-popup-right">
                                <a href="#" id="btn-cerrar-popup2" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                                <div class="agregar2">
                                    <button id="btnAgregar2" class="btn btnAgregar btn-animacion" ><span class="btnAgregarSpan">Agregar</span></button>
                                    <button id="btnEliminar2" class="btn btnAgregar btn-animacion" ><span class="btnAgregarSpan">Eliminar</span></button>
                                </div>
                                <div class="cuerpo-tabla">
                                    <table id="tabla-materias">
                                        <tr>
                                            <th>Nombre</th>
                                            <th>%</th>
                                            <th>Notas</th>
                                            <th>Definitiva</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td id="definitiva" rowspan="100%">0</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
        <section id="uno">
            <h1>Guapo</h1>
        </section>
    </div>

    <template id="cubo-template">
        <div class="cubo">
                <div class="botonCubo" id="botonCubo">
                    <div class="bloque">
                        <span style="--i:0;"></span>
                        <span style="--i:1;"></span>
                        <span style="--i:2;"></span>
                        <span style="--i:3;"></span>
                    </div>
                    <div class="texto">
                        <span style="--i:0;" data-text="Click">Click</span>
                        <span style="--i:1;" data-text="Para">Para</span>
                        <span style="--i:2;" data-text="Ver">Ver</span>
                        <span style="--i:3;" data-text="Mater">Materias</span>
                    </div>
                </div> 

                <div class="caras" id="arriba">Semestre 1</div>
                <div class="caras" id="abajo"></div>
                <div class="caras" id="derecha">Semestre 1</div>
                <div class="caras" id="izquierda">Semestre 1</div>
                <div class="caras" id="frente">Semestre 1</div>
                <div class="caras" id="atras">Semestre 1</div>
            </div>
    </template>
</main>
</body>
</html>