<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cubo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c15a751039.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <label for="btn-menu" class="icono-menu"><i class="fa-solid fa-bars"></i></label>
    <input type="checkbox" id="btn-menu">
    {{> menu }}
    <div class="cubo">
        <div class="botonCubo" id="botonCubo">
            <div class="bloque">
                <span style="--i:0;"></span>
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
            </div>
            <div class="texto">
                <span style="--i:0;" data-text="Click">Click</span>
                <span style="--i:1;" data-text="Para">Para</span>
                <span style="--i:2;" data-text="Ver">Ver</span>
                <span style="--i:3;" data-text="Mater">Materias</span>
            </div>
        </div> 

        <div class="caras" id="arriba">Semestre 1</div>
        <div class="caras" id="abajo"></div>
        <div class="caras" id="derecha">Semestre 1</div>
        <div class="caras" id="izquierda">Semestre 1</div>
        <div class="caras" id="frente">Semestre 1</div>
        <div class="caras" id="atras">Semestre 1</div>
    </div>
    
</body>
</html> 