<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Calculadora Promedio Javeriana</title>
        <link rel="stylesheet"  href="../css/materia.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Poppins&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c15a751039.js" crossorigin="anonymous"></script>
        <script type="module" src="../js/controladorMateria.js"></script>
    </head>
    <body>
         <!-- Plan de estudios -->
        <div id="planDeEstudios">
            <button id="1295" class="btn-materias semestre1 fil1 nff-ciencias-basicas"><span>Cálculo Diferencial</span></button>
            <button id="1297" class="btn-materias semestre2 fil1 nff-ciencias-basicas"><span>Cálculo Integral</span></button>
            <button id="33732" class="btn-materias semestre3 fil1 nff-ciencias-basicas"><span>Probabilidad y Estadística</span></button>
            <button id="1299" class="btn-materias semestre5 fil1 nff-ciencias-basicas"><span>Cálculo Vectorial</span></button>
            <button id="1340" class="btn-materias semestre6 fil1 nff-ciencias-basicas"><span>Física Mecánica</span></button>
            <button id="electiva" class="btn-materias semestre8 fil1 nff-ciencias-basicas"><span>Electiva Ciencias Básicas</span></button>
            <button id="1290" class="btn-materias semestre2 fil2 nff-ciencias-basicas"><span>Álgebra Lineal</span></button>
            <button id="1300" class="btn-materias semestre6 fil2 nff-ciencias-basicas"><span>Ecuaciones Diferenciales</span></button>
            <button id="1291" class="btn-materias semestre7 fil2 nff-ciencias-basicas"><span>Análisis Numérico</span></button>
            <button id="33518" class="btn-materias semestre1 fil3 nff-ciencias-basicas"><span>Lógica y Matemáticas</span></button>
            <button id="34866" class="btn-materias semestre6 fil3 nff-ingenieria-aplicada"><span>Optimisación y Simulación</span></button>
            <button id="4196" class="btn-materias semestre4 fil3m nff-ingenieria-aplicada"><span>Estructuras de Datos</span></button>
            <button id="33698" class="btn-materias semestre1 fil4 nff-ingenieria-aplicada"><span>Introducción a Programación</span></button>
            <button id="33699" class="btn-materias semestre2 fil4 nff-ingenieria-aplicada"><span>Programación Avanzada</span></button>
            <button id="4084" class="btn-materias semestre7 fil4 nff-ingenieria-aplicada"><span>Introducción a la IA</span></button>
            <button id="33700" class="btn-materias semestre3 fil5 nff-ingenieria-aplicada"><span>Bases de Datos</span></button>
            <button id="34801" class="btn-materias semestre5 fil5 nff-ingenieria-aplicada"><span>Teoría de la Computación</span></button>
            <button id="3194" class="btn-materias semestre6 fil5 nff-ingenieria-aplicada"><span>Análisis de Algoritmos</span></button>
            <button id="34802" class="btn-materias semestre8 fil5 nff-ingenieria-aplicada"><span>Tecnologías Emergentes</span></button>
            <button id="4075" class="btn-materias semestre1 fil6 nff-ingenieria-aplicada"><span>Pensamiento Sistémico</span></button>
            <button id="4082" class="btn-materias semestre4 fil6 nff-ingenieria-aplicada"><span>Sistemas de Información</span></button>
            <button id="31339" class="btn-materias semestre7 fil6m enfasis"><span>Planeación Proyecto Final</span></button>
            <button id="34816" class="btn-materias semestre2 fil7 nff-ingenieria-aplicada"><span>Gestión Financiera TI</span></button>
            <button id="34803" class="btn-materias semestre4 fil7 nff-ingenieria-aplicada"><span>Gestión de Proyectos TI</span></button>
            <button id="34814" class="btn-materias semestre8 fil7 enfasis"><span>Proyecto de Grado</span></button>
            <button id="34807" class="btn-materias semestre6 fil7m1 nff-ingenieria-aplicada"><span>Desarrollo Web</span></button>
            <button id="34805" class="btn-materias semestre3 fil7m2 nff-ingenieria-aplicada"><span>Análisis y Diseño de Software</span></button>
            <button id="4185" class="btn-materias semestre7 fil7m2 nff-ingenieria-aplicada"><span>Arquitectura de Software</span></button>
            <button id="33698" class="btn-materias semestre1 fil8 nff-ingenieria-aplicada"><span>Introducción a la Programación</span></button>
            <button id="33733" class="btn-materias semestre2 fil8 nff-ingenieria-aplicada"><span>Proyecto CDIO</span></button>
            <button id="34810" class="btn-materias semestre5 fil8 nff-ingenieria-aplicada"><span>Proyecto de Innovación</span></button>
            <button id="34804" class="btn-materias semestre8 fil8m1 nff-ingenieria-aplicada"><span>Gerencia Estratégica TI</span></button>
            <button id="4190" class="btn-materias semestre3 fil9 nff-ingenieria-aplicada"><span>Comunicación y Redes</span></button>
            <button id="34808" class="btn-materias semestre6 fil9 nff-ingenieria-aplicada"><span>Introducción a la Compu Móvil</span></button>
            <button id="34806" class="btn-materias semestre4 fil9m nff-ingenieria-aplicada"><span>Fundamentos de Inge de Soft</span></button>
            <button id="34809" class="btn-materias semestre1 fil10 nff-ingenieria-aplicada"><span>Seguridad de la Información</span></button>
            <button id="22586" class="btn-materias semestre5 fil10m nff-ingenieria-aplicada"><span>Sistemas Distribuidos</span></button>
            <button id="34863" class="btn-materias semestre7 fil11 nff-socio-humanistica"><span>Ética en la era de la Información</span></button>
            <button id="2356" class="btn-materias semestre8 fil11 nff-socio-humanistica"><span>Epistemología de la Ingeniería</span></button>
            <button id="2476" class="btn-materias semestre6 fil11m nff-socio-humanistica"><span>Fe y compromiso del Ingeniero</span></button>
            <button id="34580" class="btn-materias semestre2 fil12 nff-ingenieria-aplicada"><span>Arquitectura del Computador</span></button>
            <button id="4085" class="btn-materias semestre4 fil12 nff-ingenieria-aplicada"><span>Sistemas Operativos</span></button>
            <button id="2544" class="btn-materias semestre3 fil13 nff-socio-humanistica"><span>Significación Teológica</span></button>
            <button id="5100" class="btn-materias semestre7 fil13 nff-socio-humanistica"><span>Proyecto Social Universitario</span></button>
            <button id="16143" class="btn-materias semestre8 fil13 nff-socio-humanistica"><span>Constitución y Derecho Civil</span></button> 
            <!-- Menu -->
        </div>
        <label for="btn-menu" class="icono-menu"><i class="fa-solid fa-bars"></i></label>
        <input type="checkbox" id="btn-menu">
        
        {{> menu }}
        <!-- popUp -->
       <div class="overlay">
            <div class="popup">
                <div class="elementos-popup">
                    <a href="#" id="cerrar" class="cerrar-popup"><i class="fas fa-times"></i></a>
                    <div class="contenedor">
                        
                        <div class="materia">
                            <input type="text" id="nombre-materia"  value="Materia" class="nombre-materia forma_input" readonly>
                        </div>
                        
                        <div class="primerosInputs">
                            <div>
                                <label for="codigo" class="forma_label">Codigo</label>
                                <input type="number" id="codigo" class="forma_input" readonly min="0" max="5">
                            </div>
                            
                            <div>
                                <label for="semestre" class="forma_label">Semestre</label>
                                <input type="text" id="semestre" class="forma_input" placeholder="No asignado" readonly>
                            </div>
                            
                            <div>
                                <label for="creditos" class="forma_label">Creditos</label>
                                <input type="text" id="creditos" class="forma_input" readonly>
                            </div>
                            
                            <div>
                                <label for="tipo" class="forma_label">Tipo</label>
                                <input type="text" id="tipo" class="forma_input" readonly>
                            </div>
                        </div>
                        
                        <div class="requisitos">
                            <table id="preRequi" class="tabla-requisitos"></table>
                        </div>
                        
                        <div class="segundosInputs">
                            <div>
                                <label for="profesor" class="forma_label">Profesor</label>
                                <input type="text" id="profesor" class="forma_input" placeholder="No asignado" readonly>
                            </div>
                            
                            <div>
                                <label for="nota" class="forma_label">Nota</label>
                                <input type="number" id="nota" class="forma_input" placeholder="No asignada" readonly>
                            </div>
    
                        </div>
    
                        <div>
                            <div>
                                <button class="btn btn-1" id="bt1">Editar</button>
                            </div>
                            <div>
                                <button class="btn btn-2" id="bt2">Agregar</button>                                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>