

* {
    margin: 0;
	padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background:#25292d !important;
    
}
#particles-js
{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}


/* Cambiar el color del texto en las celdas de DataTables */
#table_info,#table_filter,#table_length
{
    color: #fff;
    position: sticky;
}

/* Ocultar la flecha de ordenamiento en la columna con la clase "no-sort" */
table.dataTable thead .no-sort::after,
table.dataTable thead .no-sort::before {
  display: none !important;
}
.dataTables_paginate,
.paging_simple_numbers  {
  color: #ffffff6e !important; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button
{
    transition: 0.3s all;
    background: transparent !important; 
    border-color: transparent  !important; 
}

.paginate_button:hover
{
    
    color: rgb(28, 161, 72) !important;
}
select {
    /* Estilos CSS personalizados */
    color: white !important;
    font-size: 16px;
    background: #212529!important;
    /* ...otros estilos */
}
#tipoSelect
{
    color: #000 !important;
    background: white !important;
}
  
.top{
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    display: grid;
    place-items: center;
    transition: .4s;
  }
  .close{
    top: 5em;
    left: 70%;
  }
  .translate{
    transform: translateY(-100%);
  }
  .container-tabla
  {
    display: block;
    overflow-y: scroll;
    height: 80vh;
    width: 99%;
    border-radius: 5px;
    border:black 3px solid;
    text-align: justify;
    font-size: 125%;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #212529;
    padding-top: 3px;
    z-index: 30;
  }
  .container-tabla::-webkit-scrollbar{
    width: 5px;
}    

.container-tabla::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5px;
}

.container-tabla{
    width: 100%;
    border: 2px grey;
    
}
#table th{
    position: sticky;
    top: 0;
}
.custom-size {
    width: 70% !important;
  }
  .wrapper {
    width: 100vh;    
    height: 62vh;
    margin: 0 auto;
    background-color: white;
    border:2px solid #000;
    border-radius: 5px;

  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(3fr, auto);
  }
.one {
    grid-column: 1 / 4;
    grid-row: 1;
    height: 9vh;
    
}
.two {
    grid-column: 1;
    grid-row: 2 / 4;
}
.three {
    grid-column: 2/4;
    grid-row: 2/4;
    
}
.four {
    grid-column: 1 / 4;
    grid-row: 4;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
  }
.custom-sizeCerrar
{
    position: absolute;
    top: 5vh;
    left: 185vh;
}
.custom-size5
{
    width: 15vh !important;
}


/* ---------- Menu ---------- */
.icono-menu{
    position: fixed;
    font-size: 40px;
    line-height: 16px;
    top: 20px;
    left: 15px;
    color: black;
    transition: .3s;
    cursor: pointer;
}

#btn-menu{
    display: none;
}

#container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ #container-menu{
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

#menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    z-index: 5;
}

#btn-menu:checked ~ #container-menu #menu{
    transform: translateX(0%);
}

#menu nav{
    transform: translateY(15%);
}

#menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

#menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

#menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}



