:root {
    --tamanoCubo: 210px;
    --tamanoLinterna: 41px;
    --colorLinterna:rgb(202, 82, 235);
    --colorLinternaPrendida:yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.cubo {
    right: -300px;
    top: 200px;
    position: relative;
    Width: var(--tamanoCubo);
    height: var(--tamanoCubo);
    transform-style: preserve-3d;
    transform: rotateX(-360deg);
    animation: animate 12s linear infinite;
    cursor: pointer;


}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}


.cubo:hover #frente {
    transform: translateX(calc(var(--tamanoCubo)/2)) rotateY(90deg) rotateX(-90deg) translateY(calc(var(--tamanoCubo)/-2)) translateZ(calc(var(--tamanoCubo)/2));

}

.cubo:hover #atras {
    transform: translateX(calc(var(--tamanoCubo)/-2)) rotateY(-90deg) rotateX(-90deg) translateY(calc(var(--tamanoCubo)/-2)) translateZ(calc(var(--tamanoCubo)/2));

}

.cubo:hover #derecha {
    transform: translateZ(calc(var(--tamanoCubo)/2)) rotateX(-90deg) translateY(calc(var(--tamanoCubo)/-2)) translateZ(calc(var(--tamanoCubo)/2));

}

.cubo:hover #izquierda {
    transform: translateZ(calc(var(--tamanoCubo)/-2)) rotateY(180deg) rotateX(-90deg) translateY(calc(var(--tamanoCubo)/-2)) translateZ(calc(var(--tamanoCubo)/2));

}

.cubo:hover #arriba {
    transform: rotateX(90deg) translateZ(calc(var(--tamanoCubo)*10));

}
.cubo:hover #boton
{
    top: calc(var(--tamanoCubo)/4);
}

.caras {
    transition: all 800ms;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg*var(--i)))translateZ(calc(var(--tamanoCubo)/2));
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: calc(var(--tamanoCubo)/7);
}

#abajo {
    transform: rotateX(90deg) translateZ(calc(var(--tamanoCubo)/-2));
    background: #00ec00;
}

#frente {

    transform: translateX(calc(var(--tamanoCubo)/2)) rotateY(90deg);
}

#atras {
    transform: translateX(calc(var(--tamanoCubo)/-2)) rotateY(-90deg);
}

#derecha {
    transform: translateZ(calc(var(--tamanoCubo)/2));
}

#izquierda {

    transform: translateZ(calc(var(--tamanoCubo)/-2)) rotateY(180deg);

}

#arriba {
    background: #222;
    transform: rotateX(90deg) translateZ(calc(var(--tamanoCubo)/2));
}

#abajo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--tamanoCubo);
    height: var(--tamanoCubo);
    background: #0f0;
    transform: translateZ(calc(var(--tamanoCubo)/-3));
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
        0 0 200px rgba(0, 255, 0, 0.4),
        0 0 300px rgba(0, 255, 0, 0.6),
        0 0 400px rgba(0, 255, 0, 0.8),
        0 0 500px rgba(0, 255, 0, 1), ;
}

/* ----------------------boton----------------------- */
.boton {
    top: calc(var(--tamanoLinterna)*3.5);;
    position: relative;
    transform-style: preserve-3d;
    animation: anima 5s linear infinite;
    transition: all 1s;
}

@keyframes anima {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.boton div {
    transform-style: preserve-3d;
}

.boton div.bloque span {
    position: absolute;
    left: calc(50% - calc(var(--tamanoLinterna)/1));
    width: calc(var(--tamanoLinterna)*2);
    height: calc(var(--tamanoLinterna)/1);
    background: var(--colorLinterna);
    transform: rotateY(calc(90deg*var(--i))) translateZ(calc(var(--tamanoLinterna)/1));
    transition: 0.5s;
}

.boton:hover div.bloque span {
    background: yellow;
    filter: drop-shadow(0 0 50px yellow);
}

.boton div.texto span {
    position: absolute;
    width: 100%;
    height: calc(var(--tamanoLinterna)/1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(calc(90deg*var(--i))) translateZ(calc(var(--tamanoLinterna)*1.5));
    cursor: pointer;
    color: #fff;
    font-size: calc(var(--tamanoLinterna)/2);
    text-transform: uppercase;
    line-height: 1em;
    -webkit-text-stroke: 1px #000;
    transform-style: preserve-3d;
}

.boton div.texto span:nth-child(4) {
    font-size: calc(var(--tamanoLinterna)/2.2);
}

.boton div.texto span::before {
    content: attr(data-text);
    position: absolute;
    bottom: 7px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0px #000;
    filter: blur(5px);
}

.boton div.texto span::after {
    content: '';
    position: absolute;
    top: calc(var(--tamanoLinterna)/1);
    width: calc(var(--tamanoLinterna)*3.6);
    height: calc(var(--tamanoLinterna)*0.6);
    background: var(--colorLinterna);
    transform: rotateX(-90deg);
    transition: 0.5s;
}

.boton:hover div.texto span::after {
    background: var(--colorLinternaPrendida);
    filter: drop-shadow(0 0 50px var(--colorLinternaPrendida));
}
/* ---------- Menu ---------- */
.icono-menu{
    position: fixed;
    font-size: 40px;
    line-height: 16px;
    top: 20px;
    left: 15px;
    color: white;
    transition: .3s;
    cursor: pointer;
}

#btn-menu{
    display: none;
}

#container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ #container-menu{
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

#menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    z-index: 5;
}

#btn-menu:checked ~ #container-menu #menu{
    transform: translateX(0%);
}

#menu nav{
    transform: translateY(15%);
}

#menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

#menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

#menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}